@import url('https://fonts.googleapis.com/css2?family=Goldman&family=M+PLUS+2&display=swap'); 
body {
    font-family: 'Goldman', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.logout-button {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #ddd;
    color: black;
}

.panel {
    margin: 110px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

h2 {
    color: #333;
}

input[type="radio"] {
    margin-right: 5px;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #000 !important; /* Border color */
    background-color: #fff !important; /* Background color, adjust as needed */
    cursor: pointer;
}

/* Optional: Add a custom style for the appearance of the radio button when checked */
input[type="radio"]:checked {
    background-color: #000 !important; /* Checked background color, adjust as needed */
}
/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: black;
}

/* Style the buttons */
.action-buttons {
    text-align: center;
    margin-top: 20px;

}

.action-buttons button {
    font-family: 'Goldman', sans-serif;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none; /* Remove borders */
    background-color: #CFF1AD; /* Set background color */
    color: black; /* Set text color */
    border-radius: 8px;
}

.action-buttons button:hover {
    background-color: #CFF1AD; /* Darken background color on hover */
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: white;
    border: 1px solid #333;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: white;
}

.custom-checkbox:after {
    content: "\2713";
    font-size: 20px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.custom-checkbox:checked:after {
    display: block;
}